#include <iostream>
#include <stack>

using namespace std;
int main()
{
 int i;
 int ball;
 stack <int> balls;
    for(i=0;i<5;i++)
        {
         cout<<"Push ball:";
         cin>>ball;
         balls.push(ball);
        }
    while(!balls.empty())
        {
            ball=balls.top();
            balls.pop();
                if(balls.empty())
                    {
                        cout<<"There is no white ball!\n";
                        break;  
                    }
                else
                    {
                        cout<<"White ball! => Stop popping!\n";
                        break;
                    }
        }
return 0;
}
